.**
*/.**
*__pycache__
*__pycache__/**
data/*/**
plots/**
summaries/**
index_snowflake/**
results**
outputs**
old**
resources/ldfacts.py**

perturbed_outputs.pkl
EFRA Validation - Context Relevancy V2.xlsx
EFRA Validation dataset - Context Relevancy V2_modified.csv