.**
*/.**
*__pycache__
*__pycache__/**
**.xlsx
**.pkl
data/*/**
plots/**
summaries/**
index_snowflake/**
result**
output**
old**
resources/ldfacts.py**

EFRA Validation dataset - Context Relevancy V2_modified.csv