# File di cache e di sistema
.idea/
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Artefatti di build
build/
dist/
*.egg-info/

# File di dati generati o temporanei
*.xlsx
*.pkl
data/*/

# Cartelle di output
outputs_evaluation/
outputs_retrieved/
results/
plots/
summaries/
index_snowflake/

# Cartella con file vecchi
old/

# File specifici da ignorare
src/longdocfactscore/*
EFRA Validation dataset - Context Relevancy V2_modified.csv
align_data.py
generation.old.py